/* Path: juplaylist/src/app/css/PhoneInput.css */

.phoneInput {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 5px 10px 10px 10px;
  width: 100%;
  padding-bottom: 12px;
}

.phoneInput > div {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.phoneInput legend {
  color: #000;
  font-weight: 600;
  margin-left: 15px;
  border-bottom: none;
  padding: 0 5px;
}

.phoneInput > div > p {
  color: #808080;
}

.phoneInput hr {
  border: #e0e0e0 0.5px solid;
}

.phoneInput input::placeholder {
  color: #e0e0e0;
}

.phoneInput input {
  border: none;
  font-size: 1rem;
  width: 100%;
}
