.search-input {
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin-top: 20px;
}

.search-input input {
  font-size: 1rem;
  font-weight: 500;
  cursor: text;
  color: #808080;
}

.search-input input,
.search-input button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.search-input button {
  cursor: pointer;
  padding-right: 15px;
}
