.toggle-switch {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 20px 0;
  height: 100px;
}

.toggle-switch .switch {
  display: flex;
  min-width: 230px;
  max-width: 260px;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #f7f7f7;
  padding: 20px 0;
  border-radius: 50px;
}

.toggle-switch .left,
.toggle-switch .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 50px;
  background-color: red;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-switch .active {
  background-color: #e1e1e1;
}
